.app-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: rgb(81, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
    margin: 5px;
  }
  .header_navigation {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
}
.content-wrapper {
  display: flex;
  img {
    width: 400px;
  }
}

.nav {
  width: 30%;
  background-color: rgb(241, 139, 6);
}

.content {
  width: 70%;
  background-color: rgb(35, 13, 236);
}
.footer {
  height: 100px;
  background-color: rgb(177, 161, 24);
}
