.app-wrapper {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
.header {
  height: 10%;
  background-color: rgb(81, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
    margin: 5px;
  }
  .header_navigation {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
}

.content-wrapper {
  height: 50%;
  display: flex;
  img {
    width: 100%;
    height: 400px;
  }
}

.nav {
  width: 15%;
  background-color: rgb(241, 139, 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    margin: 10px 0;
    cursor: pointer;
    :hover {
      color: rgb(255, 10, 10);
    }
  }
}

.content {
  width: 85%;
  background-color: rgb(35, 13, 236);
  color: aliceblue;
}
.footer {
  height: 30%;
  // background-color: rgb(177, 161, 24);
  img {
    width: 20px;
  }
}
